body {
    background-color: beige;
}

h1 {
    color: darkblue;
    text-align: center;
}

nav a {
    margin: 5px;
    color: rgb(115, 16, 207);
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(210, 210, 224);
}

nav a:hover {
    background-color: darkorchid;
    color:blanchedalmond;
}

main {
    background-color: bisque;
    padding: 10px;
    overflow: hidden;
}

h2 {
    color: blue;
    text-align: center;
}

h4 {
    color: rgb(0, 65, 100);
}

p {
    color: rgb(21, 182, 191);
}

footer {
    padding: 50px;
    overflow: hidden;
}